body {
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
  display: grid;
  place-items: center;
  margin-top: 100px;
  color: #ffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.main-container{
  align-items: center;
  text-align: center;
  justify-content: center;
  min-width: 400px;
}
.todo-header{
  font-size: 45px;
  font-weight: lighter;
}

/* todoField */
.todoField{
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
}
.todoField .todoField__input{
  height: 35px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  border-radius: 5px 0 0 5px;
  line-height: 1.45;
  font-size: 1em;
  color: #525865;
  font-weight: lighter;
  -webkit-transition: .18s ease-in-out;
  -moz-transition: .18s ease-in-out;
  -o-transition: .18s ease-in-out;
  transition: .18s ease-in-out;
  width: 100%;
}
.todoField .todoField__btn{
  color: #fff;
  background-color: coral;
  border: 0;
  height: 35px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* todos */
.todos{
  list-style-type: none;
  padding: 0;
}
.todos .todos__item{
  display: flex;;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.todos .todos__text{
  text-transform: uppercase;
  font-weight: lighter;
}
.todos .todos__buttons button{
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: darkgreen;
}
.todos .todos__buttons button:disabled{
  cursor: default;
}
.todos .todos__buttons button.close-button{
  color: brown;
}

